import /init.microtrust.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1
    
on fs
    mkdir /mnt/vendor/persist 0700 root root
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist
    install_keyring
    setprop crypto.ready 1

service touchfeature-hal-1-0 /vendor/bin/hw/vendor.xiaomi.hardware.touchfeature@1.0-service
    class main
    user root
    group root
    onrestart restart touchfeature-hal-1-0
    seclabel u:r:recovery:s0

service keymint-beanpod /vendor/bin/hw/android.hardware.security.keymint@1.0-service.beanpod
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    user root
    group root system
    seclabel u:r:recovery:s0

service modules_mount /system/bin/modules_mount.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start gatekeeper-1-0
    start keymint-beanpod

    
on property:hwservicemanager.ready=true
    start keymint-beanpod
    start gatekeeper-1-0

   
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop gatekeeper-1-0
    stop keymint-beanpod

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop gatekeeper-1-0
    stop keymint-beanpod
    
on property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop gatekeeper-1-0
    stop keymint-beanpod

on boot
    start boot-hal-1-2
    start health-hal-2-1
    start vendor.vibrator-default

    setprop sys.usb.config adb

    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch
    chown system system /sys/class/touch/tp_dev/fod_status
    chmod 0664 /sys/class/touch/tp_dev/fod_status

#couldn't write [pid] to /dev/cpuset/foreground/tasks
#    write /dev/cpuset/cgroup.clone_children 1
#
on property:twrp.decrypt.done=true
    start modules_mount
